{% extends "base.html" %}
{% load static %}
{% block title %}
    Crear Usuario
{% endblock title %}
{% block navbar %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="{% url 'citas:listar_cita' %}"><i class="icon-calendar"></i></i><span>Agenda</span> </a> </li>
        <li><a href="{% url 'profesionales:listar_profesional' %}"><i class="icon-user-md"></i><span>Profesionales</span> </a> </li>
        <li><a href="{% url 'paciente:listar_paciente' %}"><i class="icon-user"></i><span>Pacientes</span> </a></li>
         <li><a href="{% url 'fichas:listar_ficha' %}"><i class="icon-folder-open"></i><span>Ficha Pacientes</span> </a> </li>
         {% if request.user.is_superuser %}
          <li class="active"><a href="{% url 'usuario:listar_usuario' %}"><i class="icon-user"></i><span>Gestión Usuarios</span> </a> </li>
        {% endif %}
          </li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
{% endblock navbar %}
{% block content %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Crear Usuario </h1>
    </div>
    <form method="post" >
        {% csrf_token %}
        {{ form.as_p }}
 <div>
        <button type="submit" class="btn btn-small btn-success"> Crear o Actualizar Usuario
         <span class="icon text-white-50">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        </button>
        <a href="{% url 'usuario:listar_usuario' %}" class="btn btn-warning btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
            <span class="text" style="text-align: center">Cancelar</span>
        </a>
 </div>

    </form>

{% endblock content %}
