{% extends "base.html" %}
{% load static %}
{% block title %}
    Editar Profesional
{% endblock title %}
{% block content %}


                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Editar Profesional </h1>
                            </div>
          <form method="post"   >
              {% csrf_token %}
                  {% if error %}
                  <h2>{{ error }}</h2>
                  {% else %}
                  <div class="form-group">
                      <div>{{ form.rut_profesional.label}}</div>
                      <div>{{ form.rut_profesional }}</div>
                    </div>
                  <div class="form-group">
                       <div> {{ form.nombres.label}}</div>
                       <div> {{ form.nombres }}</div>
                  </div>
                 <div class="form-group">
                      <div> {{ form.apellidos.label}}</div>
                      <div> {{ form.apellidos }}</div>
                 </div>
                 <div class="form-group">
                      <div> {{ form.direccion.label}}</div>
                      <div> {{ form.direccion }}</div>
                  </div>
                  <div class="form-group">
                      <div>{{ form.num_casa.label}}</div>
                     <div>  {{ form.num_casa }}</div>
                  </div>
                      <div class="form-group">
                      <div>{{ form.telefono.label}}</div>
                      <div>{{ form.telefono }}</div>
                  </div>
                  <div class="form-group">
                       <div>{{ form.email.label}}</div>
                      <div>{{ form.email }}</div>
                  </div>
                       <div class="form-group">
                      <div>{{ form.profesion.label}}</div>
                   <div>{{ form.profesion }}</div>
                  </div>
                  <button type="submit" class="btn btn-small btn-success">Actualizar Profesional </button>
                  {% endif %}


          </form>

{% endblock content %}
