{% extends "base.html" %}
{% load static %}
{% block title %}
    listar Citas
{% endblock title %}
{% block titulo_pagina %}
    Administración de Citas
{% endblock titulo_pagina %}
{% block content %}
        <div class="container-fluid" style="text-align: right;">
        <a href="{% url 'citas:crear_cita' %}" class="btn btn-success btn-icon-split">
            <span class="text">Registrar Cita nueva</span>
        </a>
</div>
    <br>
    {% if citas %}
    <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Pacientes</th>
                    <th>Profesional</th>
                      <th>Fecha de Cita</th>
                      <th>Hora de Cita</th>
                    <th>Estado de la Cita</th>
                      <th> Motivo de la Anulación </th>
                    <th> acción </th>
                  </tr>
                </thead>
                <tbody>
                {% for cita in citas %}
                  <tr>
                    <td>{{ cita.paciente }}</td>
                    <td>{{ cita.profesional }}</td>
                      <td>{{ cita.fecha_cita }}</td>
                      <td>{{ cita.hora_cita }}</td>
                      <td>{{ cita.estado }}</td>
                      <td>{{ cita.motivo_anulacion }}</td>
                  <td class="td-actions"><a href="{% url 'citas:editar_cita' cita.id_reserva %}" class="btn btn-small btn-success"><i class="btn-icon-only icon-pencil"> </i></a><a href="{% url 'citas:eliminar_cita' cita.id_reserva %}" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
    {% else %}
    <h3>No hay Citas registradas</h3>
    {% endif %}
{% endblock content %}
