{% extends "base.html" %}
{% load static %}
{% block title %}
    Crear Ficha
{% endblock title %}
{% block content %}


                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear Ficha </h1>
                            </div>
          <form method="post"   >
              {% csrf_token %}
                  {% if error %}
                  <h2>{{ error }}</h2>
                  {% else %}
                      {{ form.as_p }}
                  <button type="submit" class="btn btn-small btn-success"> Crear o Actualizar Ficha </button>
                  {% endif %}


          </form>

{% endblock content %}
